In [1]:
sc

In [2]:
from pyspark.sql.types import Row
from datetime import datetime

In [3]:
simple_data = sc.parallelize([1, "Alice", 50])
simple_data

ParallelCollectionRDD[0] at parallelize at PythonRDD.scala:195

In [4]:
simple_data.count()

3

In [5]:
simple_data.first()

1

In [6]:
simple_data.take(2)

[1, 'Alice']

In [7]:
simple_data.collect()

[1, 'Alice', 50]

In [8]:
df = simple_data.toDF()

TypeError: Can not infer schema for type: <class 'int'>

In [ ]:
records = sc.parallelize([[1, "Alice", 50], [2, "Bob", 80]])
records

In [ ]:
records.collect()

In [ ]:
recods.count()

In [ ]:
records.count()

In [ ]:
records.first()

In [ ]:
records.take(2)

In [ ]:
records.collect()

In [ ]:
df = records.toDF()

In [ ]:
df

In [ ]:
df.show()

In [ ]:
data = sc.parallelize([Row(id=1, name = "Alice", score = 50)])

In [ ]:
data

In [ ]:
data.count()

In [ ]:
data.collect()

In [ ]:
df = data.toDF()
df

In [ ]:
df.show()

In [ ]:
data = sc.parallelize([Row(id = 1, name = "Alice", score = 50), Row(id = 2, name = "Bob", score = 80), 
                      Row(id = 3, name = "Charlee", score = 75)])
data

In [ ]:
df = data.toDF()
df.show()

In [ ]:
complex_data = sc.parallelize([Row(col_float = 1.44, col_integer = 10, col_string = "John")])

In [ ]:
complex_data_df = complex_data.toDF()
complex_data_df.show()

In [11]:
complex_data = sc.parallelize([Row(col_float = 1.44, 
                                  col_integer = 10,
                                  col_string = "John",
                                  col_Boolean = True,
                                  col_list = [1,2,3])])

In [12]:
complex_data_df = complex_data.toDF()

In [13]:
complex_data_df.show()

+-----------+---------+-----------+---------+----------+
|col_Boolean|col_float|col_integer| col_list|col_string|
+-----------+---------+-----------+---------+----------+
|       true|     1.44|         10|[1, 2, 3]|      John|
+-----------+---------+-----------+---------+----------+

In [14]:
complex_data = sc.parallelize([Row(col_list = [1,2,3], 
                                  col_dict = {"k1" : 0}, 
                                  col_row = Row(a=10, b=20, c=30),
                                  col_time = datetime(2019, 8, 1, 14, 1, 5)), 
                              
                              Row(col_list = [1, 2, 3, 4, 5], 
                                 col_dict = {"k1":0, "k2":1},
                                 col_row = Row(a=40, b=50, c=60),
                                 col_time = datetime(2019, 8, 3, 14, 1, 6)),
                              
                              Row(col_list = [1,2,3,4,5,6,7], 
                                 col_dict = {"k1":0, "k2":1, "k3":2},
                                 col_row = Row(a=70, b=80, c=90),
                                 col_time = datetime(2019, 8, 3, 14, 1, 7))])

In [15]:
complex_data_df = complex_data.toDF()
complex_data_df.show()

+--------------------+--------------------+------------+-------------------+
|            col_dict|            col_list|     col_row|           col_time|
+--------------------+--------------------+------------+-------------------+
|           [k1 -> 0]|           [1, 2, 3]|[10, 20, 30]|2019-08-01 14:01:05|
|  [k1 -> 0, k2 -> 1]|     [1, 2, 3, 4, 5]|[40, 50, 60]|2019-08-03 14:01:06|
|[k3 -> 2, k1 -> 0...|[1, 2, 3, 4, 5, 6...|[70, 80, 90]|2019-08-03 14:01:07|
+--------------------+--------------------+------------+-------------------+

In [16]:
sqlcontext = SQLContext(sc)

In [17]:
df = sqlcontext.range(5)
df

DataFrame[id: bigint]

In [18]:
df.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+

In [19]:
df.count()

5

In [20]:
data = [("Alice", 50), ('Bob', 80), ('Charlee', 75)]

In [21]:
sqlcontext.createDataFrame(data).show()

+-------+---+
|     _1| _2|
+-------+---+
|  Alice| 50|
|    Bob| 80|
|Charlee| 75|
+-------+---+

In [22]:
sqlcontext.createDataFrame(data, ['Name', 'Score']).show()

+-------+-----+
|   Name|Score|
+-------+-----+
|  Alice|   50|
|    Bob|   80|
|Charlee|   75|
+-------+-----+

In [23]:
data = sc.parallelize([
    Row(1, 'Alice', 50), 
    Row(2, 'Bob', 80), 
    Row(3, 'Charlee', 75)
])

In [24]:
column_names = Row('id', 'name', 'score')
students = data.map(lambda r: column_names(*r))

In [25]:
students

PythonRDD[58] at RDD at PythonRDD.scala:53

In [26]:
students_df = sqlcontext.createDataFrame(students)
students_df

DataFrame[id: bigint, name: string, score: bigint]

In [27]:
students_df.show()

+---+-------+-----+
| id|   name|score|
+---+-------+-----+
|  1|  Alice|   50|
|  2|    Bob|   80|
|  3|Charlee|   75|
+---+-------+-----+

In [28]:
complex_data_df.first()

Row(col_dict={'k1': 0}, col_list=[1, 2, 3], col_row=Row(a=10, b=20, c=30), col_time=datetime.datetime(2019, 8, 1, 14, 1, 5))

In [29]:
complex_data_df.take(2)

[Row(col_dict={'k1': 0}, col_list=[1, 2, 3], col_row=Row(a=10, b=20, c=30), col_time=datetime.datetime(2019, 8, 1, 14, 1, 5)),
 Row(col_dict={'k1': 0, 'k2': 1}, col_list=[1, 2, 3, 4, 5], col_row=Row(a=40, b=50, c=60), col_time=datetime.datetime(2019, 8, 3, 14, 1, 6))]

In [30]:
cell_string = complex_data_df.collect()[0][2]

cell_string

Row(a=10, b=20, c=30)

In [31]:
cell_list = complex_data_df.collect()[0][4]
cell_list

IndexError: tuple index out of range

In [32]:
cell_string.append(100)
cell_string

AttributeError: append

In [33]:
complex_data_df.show()

+--------------------+--------------------+------------+-------------------+
|            col_dict|            col_list|     col_row|           col_time|
+--------------------+--------------------+------------+-------------------+
|           [k1 -> 0]|           [1, 2, 3]|[10, 20, 30]|2019-08-01 14:01:05|
|  [k1 -> 0, k2 -> 1]|     [1, 2, 3, 4, 5]|[40, 50, 60]|2019-08-03 14:01:06|
|[k3 -> 2, k1 -> 0...|[1, 2, 3, 4, 5, 6...|[70, 80, 90]|2019-08-03 14:01:07|
+--------------------+--------------------+------------+-------------------+

In [34]:
complex_data_df.first

In [35]:
complex_data_df.show()

+--------------------+--------------------+------------+-------------------+
|            col_dict|            col_list|     col_row|           col_time|
+--------------------+--------------------+------------+-------------------+
|           [k1 -> 0]|           [1, 2, 3]|[10, 20, 30]|2019-08-01 14:01:05|
|  [k1 -> 0, k2 -> 1]|     [1, 2, 3, 4, 5]|[40, 50, 60]|2019-08-03 14:01:06|
|[k3 -> 2, k1 -> 0...|[1, 2, 3, 4, 5, 6...|[70, 80, 90]|2019-08-03 14:01:07|
+--------------------+--------------------+------------+-------------------+

In [36]:
complex_data_df.select(col_list, col_row, col_time).show()

NameError: name 'col_list' is not defined

In [37]:
complex_data_df.select('col_list', 'col_row', 'col_time').show()

+--------------------+------------+-------------------+
|            col_list|     col_row|           col_time|
+--------------------+------------+-------------------+
|           [1, 2, 3]|[10, 20, 30]|2019-08-01 14:01:05|
|     [1, 2, 3, 4, 5]|[40, 50, 60]|2019-08-03 14:01:06|
|[1, 2, 3, 4, 5, 6...|[70, 80, 90]|2019-08-03 14:01:07|
+--------------------+------------+-------------------+