In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("Analysing London crime data")\
                            .getOrCreate()

In [12]:
data = spark.read\
            .format("csv")\
            .option('header', 'true')\
            .load("./Datasets/london_crime_by_lsoa.csv")

## Exploring London Crime Dataset

In [13]:
data.printSchema()

root
 |-- lsoa_code: string (nullable = true)
 |-- borough: string (nullable = true)
 |-- major_category: string (nullable = true)
 |-- minor_category: string (nullable = true)
 |-- value: string (nullable = true)
 |-- year: string (nullable = true)
 |-- month: string (nullable = true)

In [14]:
data.count()

13490604

In [15]:
data.limit(5).show()

+---------+----------+--------------------+--------------------+-----+----+-----+
|lsoa_code|   borough|      major_category|      minor_category|value|year|month|
+---------+----------+--------------------+--------------------+-----+----+-----+
|E01001116|   Croydon|            Burglary|Burglary in Other...|    0|2016|   11|
|E01001646| Greenwich|Violence Against ...|      Other violence|    0|2016|   11|
|E01000677|   Bromley|Violence Against ...|      Other violence|    0|2015|    5|
|E01003774| Redbridge|            Burglary|Burglary in Other...|    0|2016|    3|
|E01004563|Wandsworth|             Robbery|   Personal Property|    0|2008|    6|
+---------+----------+--------------------+--------------------+-----+----+-----+

In [18]:
data.take(5)

[Row(lsoa_code='E01001116', borough='Croydon', major_category='Burglary', minor_category='Burglary in Other Buildings', value='0', year='2016', month='11'),
 Row(lsoa_code='E01001646', borough='Greenwich', major_category='Violence Against the Person', minor_category='Other violence', value='0', year='2016', month='11'),
 Row(lsoa_code='E01000677', borough='Bromley', major_category='Violence Against the Person', minor_category='Other violence', value='0', year='2015', month='5'),
 Row(lsoa_code='E01003774', borough='Redbridge', major_category='Burglary', minor_category='Burglary in Other Buildings', value='0', year='2016', month='3'),
 Row(lsoa_code='E01004563', borough='Wandsworth', major_category='Robbery', minor_category='Personal Property', value='0', year='2008', month='6')]

In [19]:
data.dropna()

DataFrame[lsoa_code: string, borough: string, major_category: string, minor_category: string, value: string, year: string, month: string]

In [20]:
data = data.drop('lsoa_code')
data.show(5)

+----------+--------------------+--------------------+-----+----+-----+
|   borough|      major_category|      minor_category|value|year|month|
+----------+--------------------+--------------------+-----+----+-----+
|   Croydon|            Burglary|Burglary in Other...|    0|2016|   11|
| Greenwich|Violence Against ...|      Other violence|    0|2016|   11|
|   Bromley|Violence Against ...|      Other violence|    0|2015|    5|
| Redbridge|            Burglary|Burglary in Other...|    0|2016|    3|
|Wandsworth|             Robbery|   Personal Property|    0|2008|    6|
+----------+--------------------+--------------------+-----+----+-----+
only showing top 5 rows

In [28]:
total_boroughs = data.select('borough')\
                     .distinct().show()

+--------------------+
|             borough|
+--------------------+
|             Croydon|
|          Wandsworth|
|              Bexley|
|             Lambeth|
|Barking and Dagenham|
|              Camden|
|           Greenwich|
|              Newham|
|       Tower Hamlets|
|            Hounslow|
|              Barnet|
|              Harrow|
|Kensington and Ch...|
|           Islington|
|               Brent|
|            Haringey|
|             Bromley|
|              Merton|
|         Westminster|
|             Hackney|
+--------------------+
only showing top 20 rows

In [33]:
total_boroughs.show()

AttributeError: 'NoneType' object has no attribute 'show'

In [34]:
type(total_boroughs)

NoneType

In [37]:
total_boroughs = data.select('borough')\
                     .distinct()   
total_boroughs.show()

+--------------------+
|             borough|
+--------------------+
|             Croydon|
|          Wandsworth|
|              Bexley|
|             Lambeth|
|Barking and Dagenham|
|              Camden|
|           Greenwich|
|              Newham|
|       Tower Hamlets|
|            Hounslow|
|              Barnet|
|              Harrow|
|Kensington and Ch...|
|           Islington|
|               Brent|
|            Haringey|
|             Bromley|
|              Merton|
|         Westminster|
|             Hackney|
+--------------------+
only showing top 20 rows

In [38]:
type(total_boroughs)

pyspark.sql.dataframe.DataFrame

In [39]:
total_boroughs.count()

33

In [41]:
hackney_data = data.filter(data['borough'] == 'Hackney')
hackney_data.show(5)

+-------+--------------------+--------------------+-----+----+-----+
|borough|      major_category|      minor_category|value|year|month|
+-------+--------------------+--------------------+-----+----+-----+
|Hackney|     Criminal Damage|Criminal Damage T...|    0|2011|    6|
|Hackney|Violence Against ...|          Harassment|    1|2013|    2|
|Hackney|     Criminal Damage|Other Criminal Da...|    0|2011|    7|
|Hackney|Violence Against ...|        Wounding/GBH|    0|2013|   12|
|Hackney|  Theft and Handling|  Other Theft Person|    0|2016|    8|
+-------+--------------------+--------------------+-----+----+-----+
only showing top 5 rows

In [42]:
data_2015_2016 = data.filter(data['year'].isin(['2015', '2016']))
data_2015_2016.sample(fraction = 0.1).show()

+--------------------+--------------------+--------------------+-----+----+-----+
|             borough|      major_category|      minor_category|value|year|month|
+--------------------+--------------------+--------------------+-----+----+-----+
|Kingston upon Thames|  Theft and Handling|Motor Vehicle Int...|    0|2016|    5|
|       Tower Hamlets|            Burglary|Burglary in a Dwe...|    0|2016|    3|
|               Brent|  Theft and Handling|  Other Theft Person|    1|2016|   12|
|              Ealing|Violence Against ...|        Wounding/GBH|    0|2015|   12|
|           Islington|    Fraud or Forgery|  Counted per Victim|    0|2015|    3|
|             Bromley|     Criminal Damage|Criminal Damage T...|    0|2015|    9|
|             Hackney|Violence Against ...| Assault with Injury|    2|2015|    5|
|              Ealing|            Burglary|Burglary in Other...|    0|2016|    5|
|           Southwark|  Theft and Handling|Handling Stolen G...|    0|2015|    3|
|            Hounslow|Violence Against ...|      Other violence|    0|2015|   11|
|              Ealing|  Theft and Handling|  Other Theft Person|    0|2015|    8|
|           Redbridge|Other Notifiable ...|      Going Equipped|    0|2015|    9|
|           Greenwich|     Criminal Damage|Criminal Damage T...|    0|2016|   10|
|          Wandsworth|  Theft and Handling|Theft/Taking of P...|    0|2016|    2|
|              Merton|Violence Against ...|          Harassment|    1|2015|    6|
|             Enfield|               Drugs|    Drug Trafficking|    0|2016|   12|
|              Ealing|            Burglary|Burglary in Other...|    0|2016|    9|
|           Southwark|  Theft and Handling|Theft From Motor ...|    0|2015|   11|
|             Croydon|            Burglary|Burglary in a Dwe...|    0|2016|    9|
|            Haringey|Violence Against ...| Assault with Injury|    2|2015|    3|
+--------------------+--------------------+--------------------+-----+----+-----+
only showing top 20 rows

In [43]:
data_2014_onwards = data.filter(data['year'] >= 2014)
data_2014_onwards.sample(fraction = 0.1).show()

+--------------------+--------------------+--------------------+-----+----+-----+
|             borough|      major_category|      minor_category|value|year|month|
+--------------------+--------------------+--------------------+-----+----+-----+
|           Greenwich|Violence Against ...|      Other violence|    0|2016|   11|
|              Sutton|  Theft and Handling|Theft/Taking of P...|    1|2016|    8|
|          Hillingdon|  Theft and Handling|Theft/Taking Of M...|    0|2016|    2|
|           Southwark|               Drugs| Possession Of Drugs|    0|2015|    3|
|             Croydon|  Theft and Handling|         Other Theft|    1|2014|    5|
|               Brent|  Theft and Handling|Theft/Taking of P...|    0|2014|    9|
|           Islington|     Sexual Offences|        Other Sexual|    0|2016|   10|
|               Brent|Violence Against ...| Assault with Injury|    1|2014|    9|
|             Croydon|Other Notifiable ...|      Going Equipped|    0|2014|    8|
|         Westminster|  Theft and Handling|Theft From Motor ...|    6|2016|    8|
|           Islington|     Criminal Damage|Other Criminal Da...|    5|2014|   12|
|       Tower Hamlets|  Theft and Handling|Handling Stolen G...|    0|2015|   10|
|           Redbridge|            Burglary|Burglary in Other...|    0|2015|    2|
|             Bromley|Violence Against ...| Assault with Injury|    1|2014|    8|
|Kingston upon Thames|Other Notifiable ...|      Going Equipped|    0|2015|   12|
|            Lewisham|  Theft and Handling|  Other Theft Person|    0|2014|    4|
|Barking and Dagenham|  Theft and Handling|Motor Vehicle Int...|    0|2014|    3|
|            Hounslow|Violence Against ...|      Other violence|    0|2014|    2|
|              Merton|Violence Against ...|          Harassment|    0|2015|    5|
|          Wandsworth|  Theft and Handling|Theft/Taking of P...|    0|2016|    2|
+--------------------+--------------------+--------------------+-----+----+-----+
only showing top 20 rows

## Perform aggregations on the DataFrames

In [44]:
borough_crime_count = data.groupby('borough')\
                          .count()
borough_crime_count.show(5)

+--------------------+------+
|             borough| count|
+--------------------+------+
|             Croydon|602100|
|          Wandsworth|498636|
|              Bexley|385668|
|             Lambeth|519048|
|Barking and Dagenham|311040|
+--------------------+------+
only showing top 5 rows

In [46]:
borough_crime_count.count()

33

In [47]:
borough_conviction_sum = data.groupby('borough')\
                             .agg({'value':'sum'})   
borough_conviction_sum.show(5)

+--------------------+----------+
|             borough|sum(value)|
+--------------------+----------+
|             Croydon|  260294.0|
|          Wandsworth|  204741.0|
|              Bexley|  114136.0|
|             Lambeth|  292178.0|
|Barking and Dagenham|  149447.0|
+--------------------+----------+
only showing top 5 rows

In [54]:
borough_conviction_sum.show()

+--------------------+----------+
|             borough|sum(value)|
+--------------------+----------+
|             Croydon|  260294.0|
|          Wandsworth|  204741.0|
|              Bexley|  114136.0|
|             Lambeth|  292178.0|
|Barking and Dagenham|  149447.0|
|              Camden|  275147.0|
|           Greenwich|  181568.0|
|              Newham|  262024.0|
|       Tower Hamlets|  228613.0|
|            Hounslow|  186772.0|
|              Barnet|  212191.0|
|              Harrow|  116848.0|
|Kensington and Ch...|  171981.0|
|           Islington|  230286.0|
|               Brent|  227551.0|
|            Haringey|  213272.0|
|             Bromley|  184349.0|
|              Merton|  115654.0|
|         Westminster|  455028.0|
|             Hackney|  217119.0|
+--------------------+----------+
only showing top 20 rows

In [55]:
borough_conviction_sum.withColumnRenamed('sum(value)', 'convictions')
borough_conviction_sum.show(5)

+--------------------+----------+
|             borough|sum(value)|
+--------------------+----------+
|             Croydon|  260294.0|
|          Wandsworth|  204741.0|
|              Bexley|  114136.0|
|             Lambeth|  292178.0|
|Barking and Dagenham|  149447.0|
+--------------------+----------+
only showing top 5 rows

In [53]:
type(borough_conviction_sum)

pyspark.sql.dataframe.DataFrame

In [56]:
borough_conviction_sum = data.groupby('borough')\
                             .agg({'value':'sum'})\
                             .withColumnRenamed('sum(value)', 'convictions')   
borough_conviction_sum.show(5)

+--------------------+-----------+
|             borough|convictions|
+--------------------+-----------+
|             Croydon|   260294.0|
|          Wandsworth|   204741.0|
|              Bexley|   114136.0|
|             Lambeth|   292178.0|
|Barking and Dagenham|   149447.0|
+--------------------+-----------+
only showing top 5 rows

In [58]:
borough_conviction_new_columnName = borough_conviction_sum.withColumnRenamed('convictions', 'sum(value)')
borough_conviction_new_columnName.show(5)

+--------------------+----------+
|             borough|sum(value)|
+--------------------+----------+
|             Croydon|  260294.0|
|          Wandsworth|  204741.0|
|              Bexley|  114136.0|
|             Lambeth|  292178.0|
|Barking and Dagenham|  149447.0|
+--------------------+----------+
only showing top 5 rows

So, revisit the last 4 cells and try to understand why we need to create a new DataFrame object whenever
we want to modify a column name (or anything else) in the current DataFrame. 
Remember, DataFrame objects , just like RDDs, are read-only and immutable. So, they can't be modified in place.

In [60]:
total_borough_convictions = borough_conviction_sum.agg({'convictions':'sum'})
total_borough_convictions.show()

+----------------+
|sum(convictions)|
+----------------+
|       6447758.0|
+----------------+

In [66]:
total_convictions = total_borough_convictions.collect()
total_convictions

[Row(sum(convictions)=6447758.0)]

In [68]:
total_convictions = total_borough_convictions.collect()[0][0]
total_convictions

6447758.0

In [70]:
import pyspark.sql.functions as func

In [72]:
borough_percentage_contribution = borough_conviction_sum.withColumn(
'% contribution', 
func.round(borough_conviction_sum.convictions / total_convictions * 100, 2))

borough_percentage_contribution.printSchema()

root
 |-- borough: string (nullable = true)
 |-- convictions: double (nullable = true)
 |-- % contribution: double (nullable = true)

In [73]:
borough_percentage_contribution.show(10)

+--------------------+-----------+--------------+
|             borough|convictions|% contribution|
+--------------------+-----------+--------------+
|             Croydon|   260294.0|          4.04|
|          Wandsworth|   204741.0|          3.18|
|              Bexley|   114136.0|          1.77|
|             Lambeth|   292178.0|          4.53|
|Barking and Dagenham|   149447.0|          2.32|
|              Camden|   275147.0|          4.27|
|           Greenwich|   181568.0|          2.82|
|              Newham|   262024.0|          4.06|
|       Tower Hamlets|   228613.0|          3.55|
|            Hounslow|   186772.0|           2.9|
+--------------------+-----------+--------------+
only showing top 10 rows

In [76]:
borough_percentage_contribution.orderBy(borough_percentage_contribution[2].desc())\
                               .show()

+--------------------+-----------+--------------+
|             borough|convictions|% contribution|
+--------------------+-----------+--------------+
|         Westminster|   455028.0|          7.06|
|             Lambeth|   292178.0|          4.53|
|           Southwark|   278809.0|          4.32|
|              Camden|   275147.0|          4.27|
|              Newham|   262024.0|          4.06|
|             Croydon|   260294.0|          4.04|
|              Ealing|   251562.0|           3.9|
|           Islington|   230286.0|          3.57|
|       Tower Hamlets|   228613.0|          3.55|
|               Brent|   227551.0|          3.53|
|             Hackney|   217119.0|          3.37|
|            Lewisham|   215137.0|          3.34|
|            Haringey|   213272.0|          3.31|
|              Barnet|   212191.0|          3.29|
|          Hillingdon|   209680.0|          3.25|
|          Wandsworth|   204741.0|          3.18|
|      Waltham Forest|   203879.0|          3.16|
|             Enfield|   193880.0|          3.01|
|            Hounslow|   186772.0|           2.9|
|Hammersmith and F...|   185259.0|          2.87|
+--------------------+-----------+--------------+
only showing top 20 rows

In [83]:
convictions_monthly = data.filter(data['year'] == 2014)\
                     .groupby('month')\
                     .agg({'value' : 'sum'})\
                     .withColumnRenamed('sum(value)', 'convictions')

convictions_monthly.show()

+-----+-----------+
|month|convictions|
+-----+-----------+
|    7|    58564.0|
|   11|    59704.0|
|    3|    57669.0|
|    8|    55641.0|
|    5|    56327.0|
|    6|    57039.0|
|    9|    56933.0|
|    1|    55515.0|
|   10|    60537.0|
|    4|    53467.0|
|   12|    57565.0|
|    2|    51222.0|
+-----+-----------+

In [82]:
convictions_monthly = data.filter(data['year'] == 2014)\
                     .groupby('month')\
                     .agg({'value' : 'sum'})\
                     .orderBy(convictions_monthly[0].desc())\
                     .withColumnRenamed('sum(value)', 'convictions')

convictions_monthly.show()

+-----+-----------+
|month|convictions|
+-----+-----------+
|    9|    56933.0|
|    8|    55641.0|
|    7|    58564.0|
|    6|    57039.0|
|    5|    56327.0|
|    4|    53467.0|
|    3|    57669.0|
|    2|    51222.0|
|   12|    57565.0|
|   11|    59704.0|
|   10|    60537.0|
|    1|    55515.0|
+-----+-----------+

In [91]:
conviction_for_year_2014 = convictions_monthly.agg({'convictions' : 'sum'}).collect()[0][0]

In [92]:
conviction_for_year_2014

680183.0

In [93]:
conviction_for_year_2014 = convictions_monthly.withColumn('percent', 
                                                         func.round(convictions_monthly.convictions / 
                                                                    conviction_for_year_2014 * 100, 2))

conviction_for_year_2014.columns

['month', 'convictions', 'percent']

In [95]:
conviction_for_year_2014.orderBy(conviction_for_year_2014.percent.desc()).show()

+-----+-----------+-------+
|month|convictions|percent|
+-----+-----------+-------+
|   10|    60537.0|    8.9|
|   11|    59704.0|   8.78|
|    7|    58564.0|   8.61|
|    3|    57669.0|   8.48|
|   12|    57565.0|   8.46|
|    6|    57039.0|   8.39|
|    9|    56933.0|   8.37|
|    5|    56327.0|   8.28|
|    8|    55641.0|   8.18|
|    1|    55515.0|   8.16|
|    4|    53467.0|   7.86|
|    2|    51222.0|   7.53|
+-----+-----------+-------+

## More Aggregations And Visualisations

In [104]:
crimes_category = data.groupBy('major_category')\
                      .agg({'value' : 'sum'})\
                      .withColumnRenamed('sum(value)', 'convictions')

In [105]:
crimes_category.orderBy(crimes_category.convictions.desc()).show()

+--------------------+-----------+
|      major_category|convictions|
+--------------------+-----------+
|  Theft and Handling|  2661861.0|
|Violence Against ...|  1558081.0|
|            Burglary|   754293.0|
|     Criminal Damage|   630938.0|
|               Drugs|   470765.0|
|             Robbery|   258873.0|
|Other Notifiable ...|   106349.0|
|    Fraud or Forgery|     5325.0|
|     Sexual Offences|     1273.0|
+--------------------+-----------+

In [99]:
type(crimes_category)

pyspark.sql.dataframe.DataFrame

In [106]:
year_df = data.select('year')

In [107]:
year_df.agg({'year':'min'}).show()

+---------+
|min(year)|
+---------+
|     2008|
+---------+

In [108]:
year_df.agg({'year':'max'}).show()

+---------+
|max(year)|
+---------+
|     2016|
+---------+

In [109]:
year_df.describe().show()

+-------+-----------------+
|summary|             year|
+-------+-----------------+
|  count|         13490604|
|   mean|           2012.0|
| stddev|2.581988993167432|
|    min|             2008|
|    max|             2016|
+-------+-----------------+

In [110]:
data.crosstab('borough', 'major_category')\
    .select('borough_major_category', 'Burglary', 'Drugs', 'Fraud or Forgery', 'Robbery')\
    .show()

+----------------------+--------+-----+----------------+-------+
|borough_major_category|Burglary|Drugs|Fraud or Forgery|Robbery|
+----------------------+--------+-----+----------------+-------+
|              Havering|   32400|32616|            5508|  27648|
|                Merton|   26784|29160|            5724|  23652|
|              Haringey|   31320|35424|           10368|  29484|
|         Tower Hamlets|   31104|37368|            5400|  28512|
|               Bromley|   42552|42336|            8532|  34668|
|               Enfield|   39528|44064|            9720|  35532|
|  Kingston upon Thames|   21168|22140|            3780|  15660|
|           Westminster|   27648|32616|            8748|  25056|
|  Richmond upon Thames|   24840|23004|            2808|  18468|
|              Lewisham|   36504|43740|           11016|  34884|
|                 Brent|   37368|46980|            9288|  34128|
|  Barking and Dagenham|   23760|26244|            7236|  22248|
|             Redbridge|   34776|36504|            8532|  32400|
|             Islington|   26568|34128|            5184|  26244|
|               Hackney|   31104|38772|            7560|  29160|
|                Newham|   35424|41580|           10692|  34452|
|        City of London|     540|  756|               0|    540|
|                Sutton|   26136|26784|            3024|  21060|
|             Southwark|   35856|45144|           11772|  35316|
|                Harrow|   29592|31212|            4752|  23976|
+----------------------+--------+-----+----------------+-------+
only showing top 20 rows

In [111]:
get_ipython().magic('matplotlib inline')
import matplotlib.pyplot as plt
plt.style.use('ggplot')

So that's the end of exploratory data analysis of DataFrames on London Crime Dataset.